@{
    string controllerName = "VisitType";
}
@using (Html.PageHead("Ziyaret Tipleri"))
{
    @Html.BreadCrumb("Ziyaret Tipleri", true, "/#/VisitType/Index");
}
@using (Html.GridActionBar())
{
    <div class="btn-group btn-group-sm" role="group">
        <button class="btn btn-secondary btn-md" type="button" onclick="@Html.Awe().OpenPopup($"create{controllerName}Grid").MaxWidth(500)" title="Yeni"><i class='fa fa-plus tooltip-text-success'></i> Yeni</button>
    </div>
    <div class="pull-right">
        @Html.Awe().TextBox("txtSearch").Placeholder("ara").CssClass("searchtxt form-control form-control-sm").HtmlAttributes(new { onkeypress = "return searchGrid(event,'CustomerTypeGrid')" })
        <button class="btn btn-secondary btn-sm" type="button" onclick="$('#@controllerName'+'Grid').data('api').load(); " title="Ara"><i class='fa fa-search'></i></button>
    </div>
}
@Html.InitCrudPopupsForGrid(controllerName + "Grid", controllerName, 50, 300, "Ziyaret Tip")
<div>
    @Html.Awe().Grid(controllerName + "Grid").Url(Url.Action("GridGetItems")).Parent("txtSearch").SingleColumnSort(true).Mod(o => o.AutoMiniPager().PageSize().PageInfo().Loading()).Persistence(Persistence.Local).PageSize(100).LoadOnParentChange(false).Columns(
        new Column { ClientFormat = GridUtils.EditFormat($"edit{controllerName}Grid"), Width = 40 }.Mod(o => o.Nohide()),
        new Column { Bind = "Name", Header = "Tip Adı" },
        new Column { Bind = "Visits.Count",ClientFormat = ".VisitCount", Header = "Ziyaret Sayısı" },
        new Column { ClientFormatFunc = $"utils.deleteFormat('delete{controllerName}Grid','{controllerName}Grid')", Width = 40 }.Mod(o => o.Nohide())).ShowGroupBar(false)
</div>