@model ResetPasswordInput
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Code)
    @Html.HiddenFor(m => m.UserId)
    <div class="text-center mt-4 mb-5">
        <h4>Parola Sıfırlama</h4>
        <p>Lütfen aşağıdaki alanları kullanarak yeni parolanızı belirleyiniz.</p>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group m-form__group">
        @Html.TextBoxFor(p => p.Email, new { @class = "form-control", autocomplete = "off", placeholder = "E-Posta" })
        @Html.ValidationMessageFor(p => p.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group m-form__group">
        @Html.PasswordFor(p => p.Password, new { @class = "form-control", autocomplete = "off", placeholder = "Parola" })
        @Html.ValidationMessageFor(p => p.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group m-form__group">
        @Html.PasswordFor(p => p.ConfirmPassword, new { @class = "form-control", autocomplete = "off", placeholder = "Parola" })
        @Html.ValidationMessageFor(p => p.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
        <div class="row m-login__form-sub">
        <div class="col m--align-left m-login__form-left">
        </div>
        <div class="col m--align-right m-login__form-right">
            <a href="/Account/Login" id="m_login_forget_password" class="m-link">Giriş Yap</a>
        </div>
    </div>
    <div class="m-login__form-action">
        <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn--primary">Sıfırla</button>
    </div>
}