@model UpdatePasswordInput
@Html.Partial("_ValSum")
@using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post, new { @class = "ajaxForm formLoad" }))
{
    @Html.EditorFor(o => o.OldPassword)
    @Html.EditorFor(o => o.Password)
    @Html.EditorFor(o => o.ConfirmPassword)
    <div class="row">
        <div class="col-sm-8 offset-4">
            <button type="submit" class="btn btn-primary btn-sm">Değiştir</button>
        </div>
    </div>
}
@(Html.Awe().Form().FormClass("ajaxForm").FillFormOnContent(true).Success("ajaxFormCompleted"))